<app-header></app-header>
<div style="background-color: rgba(255,139,0,1)" class="text-center">
    <div class="container">

      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <br><br><br><br><br><br><br><br>
          <h1 style="font-size: 420%">Переходите на Premium. Вам понравится.</h1>
          <br>
          <br>
          <br>
          <button style="width: 65%;font-size: 170%;" class=" btn btn-success rounded-pill"> Подписаться на премиум</button>
          <br>
          <br>
          <br>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
</div>
<!-- DIV with recommends    -->
<div class="bg-light">
  <br>
  <br>
  <br>
  <div class="text-center">
    <h1><strong>Не знаете, что послушать?</strong></h1>
    <br>
    <p>Продолжайте слушать с того места, где остановились</p>
    <br>
    <button style="font-size: 130%;border: 1px solid rgba(97,97,97,1)" class="btn btn-light rounded-pill">Открыть мой плеер</button>
    <br>
    <br>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">

      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
